# fly.toml app configuration file generated for backend-for-submission on 2026-01-17
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-for-submission-nur-cg'
primary_region = 'sin'

[build]

[env]
  PORT = "3001"
  NODE_ENV = "production"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
